*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bodyinicio{
  background-image: url(/images2/argentinagif.gif);
  background-size: cover;
}

.fotosanimadas{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images2/estadio.webp);
  background-size: cover;
}

.contenerfoto{
  display: flex;
  gap: 2vw;
  justify-content: center;  
  padding: 20vw;
  background-size: cover;
} 

.foto{
  position: relative;
  list-style: none;
  width: 12vw;
  transition: .3s ease;
}

.foto::before{
  content: "";
  display: block;
  padding-bottom: 18vw;
}

.fondofoto{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 2vw;
  background-size: 25vw;
  background-position: center;
  filter: brightness(.9) saturate(1) contrast(1);
  transform-origin: bottom;
  transform: scale(1) translateZ(0);
  transition: .3s ease;
}

.foto:hover .fondofoto{
  transform: scale(1.15) translateZ(0);
  background-size: 20vw;
}

.contenerfoto:not(:hover) .foto:not(:hover){
  transform: scale(.9);
  filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);

}

.contenido{
  top: 10vw;
  left: 0;
  padding: 2vw;
  position: absolute;
}

.fecha{
  color: #fff;
  font-size: 1vw;
  letter-spacing: 0,5vw;
  margin-bottom: 0,5vw;
  text-transform: uppercase;
}

.titulofoto{
  color: #fff;
  font-size: 1,9vw;
}

.barra-de-inicio {
    background-color: #1a1e23;
    color: #fff; 
  }


.barra-de-inicio ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  }

.barra-de-inicio li {
    display: inline-block;
  }
  
.barra-de-inicio a {
    color: #FFF;
    text-decoration: none;
    padding: 1vw;
  }
  
.barra-de-inicio a:hover {
    background-color: #FFF;
    color: #1a1e23;
  }

.barra-de-inicio .imagenhead img {
    height: 3vw;
    align-items: center;
    display: flex;
    display: inline;
    margin-top: 0.3vw;
  }

.partidos{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1e23;
}

.partidos a{
  color: #7CBED8;
  text-decoration: underline;
  text-decoration: solid;   
}

.partidos a:hover{
  color: #00aa85;
}

.tabla{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1e23;
}

.tabla th{
  border: solid #fff;  
  text-align: center;
  background-color: #7CBED8;
}

.tabla td{
  border: solid #7CBED8 ;
  text-align: center;
  padding: 0.5vw; 
  background-color: #1a1e23;
  color: #FFF;
}

#fotoshistoria{
  display: flex;
  width: 55vw;
  height: 45vw;
  margin-left: 22vw;
  margin-top: 4vw; 
  border: 0.5vw solid #1a1e23;
}

#fotoshistoria img{
  width: 0vw;
  flex-grow: 1;
  object-fit: cover;
  opacity: .5;
  transition: .5 ease;
}

#fotoshistoria img:hover{
  width: 30vw;
  opacity: 1;
  filter: contrast(120%);
}


footer{
  background-color: #1a1e23;
  margin-top: 53vw;
  display: flex;
}

.contacto{
  margin-left: 10vw;
  color: #fff;
  list-style-type: None;
  font-size: large;
}

.imagenesfooter{
  width: 1vw;
}

#escudo{
  width: 6vw; 
  margin-bottom: 5vw;
  margin-top: 2vw;
}

.redessociales{
  margin-top: 3vw;
  margin-left: 18vw;
  list-style-type: None;
  color: #FFF;
  text-align: center;
}

.imagenesfooter2{
  margin-top: 2vw;
  width: 5vw;
  justify-content: space-between;
  margin-left: 2vw;
}

#frasefinal{
  align-items: center;
  padding-left: 40vw;
  background-color: #1a1e23;
  color: #fff;  
  padding-top: 1vw;
}

#usuariointeractivo{
  margin-top: 3vw;
  list-style-type: None;
  color: #1a1e23;
  background-color: #FFF;  
  text-align: center;
  margin-left: 5vw;
  box-shadow: 0.5vw 0.5vw 0.2vw #7CBED8;
  border-radius: 1vw  ;
}

#usuariointeractivo h4{
  margin-top: 0.5vw;
  font-style: oblique;
}

#formulario{
  margin-top: 0.5vw;  
  list-style-type: None;
} 

#formulario button{
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-block: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  cursor: pointer;
  border: 0.3vw solid #7CBED8;
  font-size: 1.4vw;
  border-radius: 1vw;
  background-color: #FFF;
}

#formulario button:active{
  background-color: #7CBED8;
}

.texto{
  border: None;
  position: relative;
  margin: 1vw;
  font-size: 1vw;
  padding: 1vw 0vw 1vw;
  display: block;
  border-bottom: 0.1vw solid #7CBED8;
}

.texto:focus{
  outline: None ;
}


header{
  position: sticky;
  top: 0vw;
}

#bodyfixture{
  background-color:#ce0d45 ;
}

#grupos{
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 3;
  grid-gap: 2vw 3vw;
  background-color: #ce0d45;
  background-size: cover;
}

#imagencatar{
  grid-column: 1;
  grid-row: 1;  
  object-fit: cover;
  height: 10%;
  width: 50%;
  position: relative;
  padding-left: 10vw;
  padding-top: 2vw;
  padding-bottom: 3vw;
}

.imagencatar2{
  width: 100%;
}

#textogrupos{
  grid-column: 4;
  grid-row: 1;
  width: 100%;
  color: #e8f3e6;
  font-size: 2vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 5vw;
  padding-bottom: 3vw;
  padding-right: 10vw;
  background-size: cover;
}

#grupos1{
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  box-shadow: 2px #9d163c;
  padding: 1vw;
  margin-left: -15vw;
  padding-right: 2vw;
}

#grupos2{
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 1vw;
  margin-left: -40vw;
  padding-right: 3vw;
}

#grupos3{
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 1vw;
  margin-left: -20vw;
}

#grupos4{
  grid-column: 4;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 1vw;
  margin-left: -15vw;
  padding-right: 3vw;
}


#grupos5{
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 1vw;
  margin-left: -15vw;
  padding-right: 3vw;
}
#grupos6{
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 1vw;
  margin-left: -40vw;
  padding-right: 3vw;
}
#grupos7{
  grid-column: 3;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 1vw;
  margin-left: -20vw;
  padding-right: 3vw;
}
#grupos8{
  grid-column: 4;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 1vw;
  margin-left: -15vw;
  padding-right: 1.5vw;
}

.titulogrupos{
  font-size: 1vw;
  font-weight: 700;
  text-decoration: underline;
  color: #8c1338
}

.menu-barra{
  display: none;
}

#texto78{
  visibility: hidden;
}

#frasestadistica{
  display: none;
}

nav ul{
  list-style: none;
  background-color: #1a1e23;
  color: #fff; 
}

nav ul li{
  display: inline-block;
}

#boton-menu1{
  background-color: #1a1e23;
  color: #fff;
}

#boton-menu{
  width: 20px;
  margin: 2px;
}

nav a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  color: #FFF;
}

nav a{
  color: #FFF;
  text-decoration: none;
  padding: 1vw;
}

nav ul a:hover{
  background-color: #FFF;
  color: #1a1e23;
}

nav ul{
  display: none;
}

nav i{
  display: none;
}

nav div{
  display: none ;
}

nav{
  display: none;
}

#imagenfixture img{
  width: 80%;
}

#imagenfixture{
  padding-top: 200px;
  padding-left: 215px;
}

@media screen and (max-width: 600px) {

.barra-de-inicio{
  display: none;
}
footer{  
  display: none;
} 
#frasefinal{
  visibility: hidden;
}
#bodyinicio{
  background-image: url(/images2/messicelular.jpg_large);
}

.imagenhead{
  visibility: hidden;
}

.fotosanimadas{
  align-items: none
}

.titulofoto{
  font-size: 0.5ch;
}

.contenerfoto{
  display: flex;
  width: 100vw;
  overflow: scroll;
  flex-direction: column;
  background-image: none;
  background-color: #1a1e23;
}

.contenerfoto .foto{
  width: 100%;
  border-radius: 5px;
  display: flex;
  height: 90vw;
} 
.contenerfoto .fondofoto{ 
  position: sticky; 
  width: 200px;
  background-size: cover;
}

.contenerfoto:not(:hover) .foto:not(:hover){
  transform: none;
  filter: none;
}


#grupos{
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 9;
  grid-gap: 2vw 3vw;
  background-color: #ce0d45;
  background-size: cover;
}

.titulogrupos{
  font-size: 8vw;
  font-weight: 700;
  text-decoration: underline;
  color: #8c1338
}

#grupos1{
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  box-shadow: 2px #9d163c;
  padding: 2vw;
  margin-left: 20vw;
  font-size: 5vw;
}

#grupos2{
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 2vw;
  margin-left: 20vw;
  font-size: 5vw;
}

#grupos3{
  grid-column: 1;
  grid-row: 4;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 2vw;
  margin-left: 20vw;
  font-size: 5vw;
}

#grupos4{
  grid-column: 1;
  grid-row: 5;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 2vw;
  margin-left: 20vw;
  font-size: 5vw;
}


#grupos5{
  grid-column: 1;
  grid-row: 6;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 2vw;
  margin-left: 20vw;
  font-size: 5vw;
}
#grupos6{
  grid-column: 1;
  grid-row: 7;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 2vw;
  margin-left: 20vw;
  font-size: 5vw;
}
#grupos7{
  grid-column: 1;
  grid-row: 8;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 2vw;
  margin-left: 20vw;
  font-size: 5vw;
}
#grupos8{
  grid-column: 1;
  grid-row: 9;
  justify-self: center;
  align-self: center;
  background-color: #efeee5;
  border-radius: 1vw;
  padding: 2vw;
  margin-left: 20vw;
  font-size: 5vw;
}

.tabla{
  display: none;

}
.barra-de-inicio #estadisticas{
  display: none;
}

#frasestadistica{
  display: inline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8vw;
  color: white;
}

#backgroundestadistica{
  background-color: #1a1e23
}

.brs{display: inline;}

nav div{
  display: block;
}

nav{
display: block
}

nav ul li{
  width: 100%;
  padding: 16px;
  text-align: left;
  text-decoration: wavy;
}

nav ul{
  flex-direction: column;
  top: 50px;
  right: 0px;

}

nav ul{
  position: fixed;
  transition: all .5s;
}

nav ul li{
  display: block;
  text-align: right;
  text-decoration: double;
  text-decoration: underline;
}


#boton-menu1{
  text-align: right;
  padding: 5px; 
  padding-left: 10px;
  font-size: large;
}

#boton-menu{
  margin-left: 10px;
  width: 8%;
}

.show{
  display: block;
}

body{
  background-color: #1a1e23;
}

#imagenfixture img{
  width: 100%;
}

#imagenfixture{
  padding-top: 50px;
  padding-left: 0px;
}


} 


