body{background-color: rgba(188, 0, 0, 0.377);} 

#titular{color: #222222;font-size: 50px;}

.margenes{
    margin: 200px;
}

*{border: 1px solid black;}

h2{
    width: 300px;
    border: 15px solid red;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

h6{
    position: sticky;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#foto1{
    border: 2px solid blue;
    width: 20%;
    margin-left: 40%;
    padding: 5%;
}